{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Busqueda: </h1>
    <ul class="accordion" data-accordion>
        <li class="accordion-item is-active" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Pacientes: </a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            {% for paciente in pacientes %}
                <div class="accordion-content" data-tab-content>
                    <p>{{paciente.name}} {{paciente.lastName}}</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            {% endfor %}
            {% for item in analisis %}
                <div class="accordion-content" data-tab-content>
                    <p>{{item.name}}</p>
                    <a href="#">Nowhere to Go</a>
                </div>
            {% endfor %}
        </li>
        <!-- ... -->
    </ul>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Idnumber</th>
                <th>Idtype</th>
                <th>Observations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td><a href="{{ path('paciente_show', { 'id': paciente.id }) }}">{{ paciente.id }}</a></td>
                <td>{{ paciente.name }}</td>
                <td>{{ paciente.lastName }}</td>
                <td>{{ paciente.age }}</td>
                <td>{{ paciente.idNumber }}</td>
                <td>{{ paciente.idType }}</td>
                <td>{{ paciente.observations }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paciente_show', { 'id': paciente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paciente_new') }}">Create a new paciente</a>
        </li>
    </ul>
{% endblock %}
